<main>
    <div class="about-project">
        <h3 class="logo">Transiteer</h3>
        <h1 class="mission">We want to bring accessibility to your daily commute.</h1>
        <p class="welcome">
            Welcome to Transiteer!

            <br>
            <br>

            You can find transit stations’ accessibility scores and rate your own experiences with these stations.<br>
            <br>
            Together, we can create a community that is more inclusive and accessible for all.<br>
        </p>

    </div>
</main>