<main>
    <h1>Home Page</h1>
    <div class=”about-project>
        
        <p class=”mission”>We want to bring accessibility to your daily commute.</p>
        <p class=”welcome”>Welcome to Transiteer!<br>

            You can find transit stations’ accessibility scores and rate your own experiences with these stations.<br>

            Together, we can create a community that is more inclusive and accessible for all.<br>
        </p>

    </div>
</main>

<Footer aria-label=”footer”>
    We are doing our best to bring you a fully accessible experience. If you have any feedback on how we can improve,
    please let us know!

    <!-- Contact info/form -->
</footer>