<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  <nav class="nav-bar">
    <a href="/">Home</a>
    {{#if user}}
    <!-- <a href="/">{{user.name}}'s Profile</a> -->
    <form action="/authentication/sign-out" method="POST">
      <a href="/station/create">Add a Station</a>
      <button>Sign Out</button>
    </form>
    {{else}}
    <a href="/authentication/sign-in">Sign In</a>
    <a href="/authentication/sign-up">Sign Up</a>
    {{/if}}
    <a href="/station/list">See all Stations</a>
  </nav>
  {{{body}}}
  <script src="/scripts/script.js"></script>
</body>
<Footer aria-label=”footer” class="footer">
  We are doing our best to bring you a fully accessible experience. If you have any feedback on how we can improve,
  please let us know!

  <!-- Contact info/form -->

  <a href="mailto:transiteer.pt@gmail.com">Contact Us</a>
</footer>

</html>