<h1>
  create station form
</h1>

  <form method="POST" >
    <label for="station-name">Station Name</label>
    <input required id="station-name" type="text" name="name" placeholder="name of the station">

    <label for="station-address">Station Address</label>
    <input required id="station-address" type="text" name="address" placeholder="Address of the station"></textarea>


    <labelfor="station-stepfree">Is this station step-free?</labelfor></label>
      <select name="stepFree" id="station-stepfree">
        <option value="">--Please choose an option--</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>
 
    <labelfor="station-lift">Is there a lift at this station?</labelfor></label>
      <select name="liftAvailable" id="station-lift">
        <option value="">--Please choose an option--</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>

    <labelfor="station-gap">Is there a big gap between the platform and the train?</labelfor></label>
      <select name="gap" id="station-gap">
        <option value="">--Please choose an option--</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>

    <labelfor="station-staff">Is there staff at this station who can assist with special requirements?</labelfor></label>
      <select name="staffAvailable" id="station-staff">
        <option value="">--Please choose an option--</option>
        <option value = "Yes">Yes</option>
        <option value = "No">No</option>
    </select>

    <label for="station-comments">Comments and additional info</label>
    <textarea required id="station-comments" name="comments" placeholder="Add additional info and comments here"></textarea>


    <button>Submit Station Info</button>
  </form>